<div class="bg-(--p-content-background) flex flex-col h-screen">
  <header class="p-2">
    <h1 class="p-2 text-5xl font-bold text-center">{{title}}</h1>

    <nav
         class="text-center *:hover:underline *:hover:cursor-pointer *:text-(--p-progressspinner-color-two)">
      <a [routerLink]="['/']">Home</a>
      <ng-container [ngTemplateOutlet]="inlineVerticalSeparator" />
      @if (accounts.authenticated()) {
      <a [routerLink]="['/account']">Account</a>
      <ng-container [ngTemplateOutlet]="inlineVerticalSeparator" />
      <button type="button" (click)="accounts.signOut()">Sign Out</button>
      } @else {
      <a [routerLink]="['/signin']">Sign In</a>
      <ng-container [ngTemplateOutlet]="inlineVerticalSeparator" />
      <a [routerLink]="['/signup']">Sign Up</a>
      }
    </nav>
  </header>

  <main class="relative grow overflow-auto">
    @if (navigation.isInitial() || navigation.navigating() ||
    navigation.error()) {
    <app-navigator />
    } @else {
    <router-outlet />
    }
  </main>

  <p-toast position="bottom-right" class="w-[calc(100%-40px)] max-w-md"
           [pt]="{message: 'shadow-md'}" />
</div>

<ng-template #inlineVerticalSeparator>
  <span
        class="inline-block w-0 text-transparent! mx-2 border-r border-surface">|</span>
</ng-template>